<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="240" maxRequestLength="900480" />
    <httpHandlers>
      <add path="UploadImage.axd" verb="*" type="WebDocViewerControl.WebDocViewerHttpHandlerUpload" validate="false"/>
      <add path="ConvertImage.axd" verb="*" type="WebDocViewerControl.WebDocViewerHttpHandlerConvertImage" validate="false"/>
      <add path="GetNumImage.axd" verb="*"  type="WebDocViewerControl.WebDocViewerHttpHandlerGetDocPages" validate="false"/>
      <add path="ExportImage.axd" verb="*"  type="WebDocViewerControl.WebDocViewerHttpHandlerExportImage" validate="false"/>

    </httpHandlers>

  </system.web>
  
  
</configuration>
